body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
    min-width: 400px;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.style1 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.style12 {
    display: flex;
    align-items: center;
    padding: 6px;
}

.styleGoogleLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.styleSearchOutline {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
}

/* stylebox RNNXgb */
.styleSearchBox {
    border: 1px solid grey;
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

/* stylebox SDkEP */
.styleSearchBox2 {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    display: flex;
    padding: 8px;
    padding-left: 20px;
}

/* stylebox class="FPdoLc tfB0Bf" */
.styleButtonOutline {
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
}

.styleButtonOutline2 {
    text-align: center;
}

/* stylebox class="gNO89b" */
.styleButton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.styleButton:hover {
    border: 1px solid black;

}

/* stylebox jscontroller="iDPoPb" */
.styleSearchBox3 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}


/* stylebox pR49Ae gsfi */
.styleSearchBox4 {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

.row > div {
    padding: 20px;
}

.styleASBox1 {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.styleASBox2 {
    width: 100%;
    clear: both;
}

.styleASBox3 {
    clear: both;
}

.styleASBox4 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.styleASBox5 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.styleASBox42 {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.styleASBox43 {
    float: left;
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}

.styleASBox44 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.labelAdvancedSearchBox {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}

.labelAdvancedSearch {
    margin-left: 10px;
}

.styleLine {
    border-bottom: 1px solid #ebebeb;
}

.styleTableRowText1 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.styleTableRowText2 {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.styleTableRowText2a {
    padding-right: 16px;
}

.styleTableRowText2b {
    width: 100%;
    text-align: left;
}


.styleTableRowText3 {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

.styleTableRowText3a {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.styleTableRowText3b {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.AdvancedSearchButtonBox {
    color: black;
    font-size: 20px;
    margin: 25px 35px;
    padding: 0;
    text-decoration: none;
    border: 5px red;
}

.AdvancedSearchButton {
    align-items: center;
}


/* stylebox input= class="gLFyf gsfi"
.styleSearchBox5 {
    background-color: transparent;
    border: 1px solid green;
    margin: 0;
    padding: 0;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
*/
